.option {
    background-color: #F9FAFB;
    border-bottom: 1px solid #EAECF0;
}

.input-wrapper {
    background-color: white;
    border-radius: 5px;
    height: 2em;
    padding: 0 5px;
    display: flex;
    align-items: center;
    border: 2px solid #EAECF0;
    margin: 10px;
}

.input-wrapper:hover {
    border: 2px solid #CDD2D4;
}
.input-wrapper:focus-within {
    border: 2px solid #418dff;
}

#search-icon {
    overflow: visible;
    color: #53B1FD;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
}

input:focus {
    outline: none;
}

.second-row,
.first-row {
    display: flex;
    align-items: center;
}

.add-button {
    margin-left: 10px;
}

.addDevice {
    margin-left: auto;
    display: flex;
    align-items: center;
    width: 10%;
    height: 2.5em;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #EAECF0;
    margin-right: 10px;
}

.filterOption:hover,
.addDevice:hover {
    background-color: #EAECF0;
    cursor: pointer;
}

.filterOption:active,
.addDevice:active {
    background-color: #CDD2D4;
}

#add-icon {
    margin-right: 10px;
    color: #53B1FD;
}

.filterOption {
    height: 2em;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #EAECF0;
    margin: 10px;
}


.filter-select {
    min-width: 10rem;
    max-width: 20rem;
    margin: 10px;
}




/* Calendar */
input.inputBox {
    font-size: 22px;
    padding: 5px 8px 4px 8px;
    border-radius: 3px;
    border: 1px solid #666;
}

.calendarWrap {
    display: inline-block;
    position: relative;
}

.calendarElement {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    border: 1px solid #ccc;
    z-index: 999;
}