.Topbar {
    background-color: white;
    border-bottom: 1px solid black;
    /* display: flex;
    align-items: center; */
}


.topbarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageStyle {
    width: 50px;
    height: auto;
    padding: 10px;
}

.imageContainer {
    display: flex;
    /*justify-content: center;*/
    /*Horizontally center children*/
    align-items: center;
    /*Vertically center children*/
    /* Additional styles for container if needed */
}

.brandName {
    font-weight: bold;
    /* Other styles for the brand name */
}

.rightIcons {
    display: flex;
    align-items: center;
}


.userIcon {
    font-size: 24px;
    margin: 10px;
}

.notificationIcon {
    font-size: 30px;
    margin: 10px;
}

.dropdown-user ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-user a {
    text-decoration: none;
}

.dropdown-user {
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    top: 50px;
    right: 0px;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    z-index: 1000;
}

.dropdown-user.active {
    opacity: 1;
    visibility: visible;
}

.dropdown-user.inactive {
    opacity: 0;
    visibility: hidden;
}

.dropdown-user::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 10px;
    border: 10px solid transparent;
    border-bottom-color: gray;
}

.dropdown-user ul li {
    padding: 5px 0;
    margin: 0;
    border-radius: 5px;
}

.dropdown-user ul li:hover{
    background-color: #B9E6FE;
    cursor: pointer;
}

.dropdown-user-item {
    display: flex;
    margin: 10px auto;
}

.dropdown-user-item img {
    max-width: 20px;
    opacity: 1;
    margin-right: 10px;
    margin-left: 10px;
}